.node {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: #90e0ef;
}

.node-shortest-path {
  background-color: yellow;
}
